---
import { SEO } from "astro-seo";
import Resets from '@julian_cataldo/astro-resets/Resets.astro';

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Permanent+Marker&display=swap" rel="stylesheet">

		<SEO
			title="theRamoShe"
			description={description ? description : "Baltimore based Content Creator, Web Designer and Developer, Wood Burning Artist, Live Streamer, and all around nice person."}
			openGraph={{
				basic: {
				title: "Myte by theRamoShe",
				type: "website",
				image: "https://new.myte.site/ogimg.png",
				}
			}}
		/>

		<Resets
			removeAllMargins={true}
			fontSmoothing={true}
			fontSystem={true}
			scrollSmooth={true}
			borderBox={true}
			scrollBarKeep={true}
		/>

		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--black: #141316;
		--white: #f5f4f5;
		--gray-mid: #7A7382;

		--font-primary: 'Nunito', sans-serif;
		--font-display: 'Permanent Marker', sans-serif;

		--primary:#D86018;
		--secondary: #D3449A;
		--accent: #3D76E1;
		--gray: #B8B3BC;
		--gray-contrast: #353238;
		--primary-contrast: #C64C00;
		--secondary-contrast: #960051;
		--accent-contrast: #16408D;

		--background-color: var(--black);
		--text-color: var(--white);
	}
	[data-theme="light"]:root {
		--primary: #C64C00;
		--secondary: #960051;
		--accent: #16408D;
		--gray: #353238;
		--gray-contrast: #B8B3BC;
		--primary-contrast:#D86018;
		--secondary-contrast: #D3449A;
		--accent-contrast: #3D76E1;

		--background-color: var(--white);
		--text-color: var(--black);
	}
	/* * { border: 1px solid blue } */
	html {
		font-size: 20px;
		color: var(--text-color);
		background-color: var(--background-color);
	}
	body {
		font-family: var(--font-primary);
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		/* overflow-x: hidden; */
	}
	main {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
		padding: 0 50px;
	}
	@media (max-width: 1000px) {
		html {
			font-size: 16px;
		}
		main {
			padding: 0 20px;
		}
	}

	.btn {
		margin: 0 1em;
		padding: .7em 2em;
		border-radius: 50px;
		text-decoration: none;
		color: var(--text-color);
		font-size: .9em;
		font-weight: bold;
		display: flex;
		align-items: center;
	}
	.btn svg {
		height: 1.5em;
		width: auto;
		margin-right: .5em;
	}
	.btn-primary { background-color: var(--primary-contrast); }
	.btn-primary:hover { background-color: var(--secondary-contrast); }
	.btn-secondary { border: 1px solid var(--text-color); }
	.btn-secondary:hover { background-color: var(--accent-contrast); }
</style>
